.container {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.navTop {
  background-color: var(--one);
  padding: 10px;
}

.main {
  text-align: center;
  margin: 0 auto;
}

.main h1 {
  font-family: 'Tourney', cursive;
  text-align: center;
  font-size: 4rem;
  color: var(--three);
  margin: 0;
  letter-spacing: 0.2em;
}

.main h2 {
  font-family: 'Irish Grover', cursive;
  color: white;
  margin: 0;
  margin-top: 10px;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
}

.imageContainer {
  position: relative;
  max-width: 555px;
  width: 80%;
  margin: 0 auto;
  aspect-ratio: 16/9;
}

.copyContainer {
  max-width: 555px;
  width: 98%;
  margin: 0 auto;
}

.btnsContainer {
  margin-top: 22px;
}

.btnsContainer a {
  cursor: pointer;
  color: var(--two);
  margin: 0 22px;
  background-color: var(--three);
  padding: 8px;
  border: var(--four) 2px solid;
  border-radius: 8px;
}

.btnsContainer a:hover {
  color: white;
  background-color: var(--five);
}

@media only screen and (max-width: 600px) {
  .main h1 {
    font-size: 2.3rem;
  }

  .main h2 {
    margin-top: 0;
    font-size: 1.2rem;
  }

  .imageContainer {
    width: 98%;
  }

  .copyContainer {
    width: 90%;
  }
}
