.container {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.navTop {
  background-color: var(--one);
  padding: 10px;
  height: 133px;
}

.main {
  text-align: center;
  margin: 0 auto;
}

.main h1 {
  font-family: 'Tourney', cursive;
  text-align: center;
  font-size: 4rem;
  color: var(--three);
  margin: 0;
  letter-spacing: 0.2em;
}

.main h3 {
  font-family: 'Irish Grover', cursive;
  color: white;
  margin: 0;
  margin-top: 10px;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
}

.imageContainer {
  position: relative;
  max-width: 555px;
  width: 80%;
  margin: 0 auto;
  aspect-ratio: 16/9;
}

.firstContainer {
  font-family: 'Irish Grover', cursive;
  width: 100%;
  height: calc(100vh - 133px);
  background: var(--one) url('/images/main-bg.png') no-repeat fixed center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 5px #888, 0px 0px 0px #888;
}

.firstContainer h2 {
  font-size: 8rem;
  color: var(--three);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.secondContainer {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.secondContainerText {
  padding-top: 20px;
  max-width: 444px;
  margin: 0 auto;
  padding: 8px;
}

.btnsContainer {
  margin-top: 22px;
}

.btnsContainer a {
  cursor: pointer;
  color: white;
  margin: 0 22px;
  background-color: var(--one);
  padding: 8px;
  border: var(--four) 2px solid;
  border-radius: 8px;
}

.btnsContainer a:hover {
  color: white;
  background-color: var(--five);
}

@media only screen and (max-width: 600px) {
  .navTop {
    height: fit-content;
  }
  .main h1 {
    font-size: 2.3rem;
  }

  .main h2 {
    margin-top: 0;
    font-size: 3rem;
  }

  .imageContainer {
    width: 98%;
  }

  .copyContainer {
    width: 90%;
  }
}
